@import "../../../assets/styles/types.scss";
@import "../../../assets/styles/loaders.scss";

* {
  font-size: 14px;
  color: $txt-white-color;
  position: relative;
}

.kw-container {
  z-index: 90;
  position: relative;
  top: -$bar-height;
  background: $bg-gradient;
  height: calc(100% - $bar-height);

  background-size: 100px 100px;
  background-image: linear-gradient(to right, #ffffff0e 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff0e 1px, transparent 1px);
}

@media screen and (max-width: $tablet) {
  .kw-container {
    background-image: linear-gradient(to right, #ffffff0a 1px, transparent 1px),
      linear-gradient(to bottom, #ffffff0a 1px, transparent 1px);
    background-size: 75px 75px;
  }
}

@media screen and (max-width: $mobile-md) {
  .kw-container {
    background-size: 50px 50px;
    top: -$bar-height-mobile;
  }
}
