<section id="contact" class="kw-section flex last-section">
  <div class="simultated-content flex col">
    <h2 class="section__title">Contácto</h2>

    <div class="form-container">
      <div class="form">
        <h3 class="heading">Contácto a través de correo electrónico</h3>
        <input placeholder="Nombre" type="text" class="input" />
        <input placeholder="Email" id="mail" type="email" class="input" />
        <textarea
          placeholder="Contenido"
          rows="10"
          cols="30"
          id="message"
          name="message"
          class="input"
        ></textarea>
        <div class="button-container">
          <a class="send-button">Send</a>
          <a id="reset-btn" class="reset-button">Reset</a>
        </div>
      </div>
    </div>

    <div class="social-container flex">
      @for (social of socialData; track social) {
      <app-social-item [social]="social"></app-social-item>
      }
    </div>

  </div>
</section>
