@defer(when !isLoading) {
  <section id="about-me" class="kw-section flex">
    <div class="simultated-content flex col">
      @if (getLength > 0) {
        <div class="events flex col">
          @for(event of commitsData; track event.id) {
            @if(event.type == 'PushEvent') {
              <div class="event">
                <p>Tipo: {{ removeEventOnString(event.type) }}</p>
                <span>Repo: {{ event.repo.name }} - </span>
                <a class="link one"
                  target="_blank" [href]="convertApiToGitHub(event.repo.url)">Repo
                </a>
                <p>{{ event.payload.commits[0].message }}</p>
                <p class="user">{{ event.payload.commits[0].author.name }} • {{ event.lastUpdateTime }}</p>
                <img class="about-img" [src]="event.actor.avatar_url" alt="">
                <a class="link two"
                  target="_blank" [href]="convertApiToGitHub(event.payload.commits[0].url)">Ver en GitHub
                </a>
              </div>
            }
          }
        </div>
      } @else if (getLength == -2) {
        <div class="events flex col">
          <div class="event">
            <p class="error">Has excedido el número de solicitudes, por favor espera unos minutos...</p>
          </div>
        </div>
      } @else if (getLength == -1) {
      <div class="events flex col">
        <div class="event">
          <p class="error">Este usuario no existe</p>
        </div>
      </div>
      } @else if (getLength == 0) {
        <div class="events flex col">
          <div class="event error flex col">
            <img class="about-img" [src]="getUser?.avatar_url" alt="">
            <p class="user">{{ getUser?.login }}</p>
            <p class="error">Este usuario no ha realizado commits públicos en los últimos 2 años</p>
          </div>
        </div>
      }
    </div>
  </section>
} @placeholder {
  <section id="about-me" class="kw-section flex">
    <div class="simultated-content flex col">
      <span>Cargando información...</span>
    </div>
  </section>
}
