@import "../../../assets/styles/types.scss";
@import "../../../assets/styles/loaders.scss";

$separation: 50px;
$separation-mobile: 20px;

#about-me {
  // min-height: calc(
  //   100vh - ($bar-height + $section-pg-top + $section-pg-bottom)
  // );
  justify-content: center;
  height: 100%;
  font-family: "Onest", sans-serif;

  .simultated-content {
    width: 100%;
    height: 100%;

    .tabs {
      width: 100%;
      height: 420px;
      overflow: hidden;
      // box-shadow: 0 0 5px #ccc;
      gap: 30px;

      .tabs-buttons {
        min-width: 220px;
        height: calc(100% - (30px + 30px));
        border-radius: 5px;
        background: rgba($bg-color, .3);
        padding: 30px;
        justify-content: flex-start;
        gap: 20px;

        .tab-button {
          width: 100%;
          text-align: start;
          color: $txt-white-color;
          font-weight: 500;
          cursor: pointer;
          font-size: 14px;
          outline: none;
          padding: 20px 0;
          position: relative;

          .border {
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: $quinary-color;
            opacity: 0;

            &:nth-child(1) {
              left: 100%;
            }
          }

          .icon {
            width: 20px;
            height: auto;
          }

          i {
            margin: 0 5px 0 10px;
          }

          &:hover {
            color: $quinary-color;
            transition: color 500ms ease-in-out;
          }

          &.active {
            color: $quinary-color;
            padding-left: 4px;
            background: rgba($tertiary-color, 0.07);
            transition: all 500ms ease-in-out;

            .border {
              opacity: 1;
              transition: opacity 500ms ease-in-out;
            }
          }
        }
      }

      .tabs-body {
        height: 100%;
        width: 100%;
        position: relative;
        background: rgba($bg-color, .3);
        border-radius: 5px;

        .tab-body {
          width: calc(100% - ($separation * 2));
          height: calc(100% - ($separation * 2));
          padding-right: $separation;
          position: absolute;
          left: -200%;
          opacity: 0;
          overflow-y: auto;

          .info-container {
            height: 100%;
            font-size: 16px;
            color: $txt-white-color;
          }

          &.active {
            top: $separation;
            left: $separation;
            opacity: 1;
            transition: opacity 1000ms ease-in-out;
          }

          &::-webkit-scrollbar-button {
            display: none;
          }

          .info-container {
            width: 100%;
          }
        }
      }
    }

    .events {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;

      app-git-event {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #about-me {
    .simultated-content {
      .title_section {
        color: $quinary-color;
        font-size: 20px;
        margin-bottom: 26px;
      }

      .tabs {
        flex-direction: column;
        justify-content: flex-start;
        height: 780px;

        .tabs-buttons {
          width: calc(100% - (30px + 30px));
          height: auto;

          .tab-button {
            padding: 20px 0 20px 0;
            font-size: 13px;

            &.active {
              border-radius: 0;
              border-top-right-radius: 5px;
              border-top-left-radius: 5px;
              transition: all 500ms ease-in-out;
            }

            .border {
              width: 100%;
              height: 3px;
              border: 0;
              top: auto;
              bottom: 0;

              &:nth-child(1) {
                display: none;
              }
            }
          }
        }

        .tabs-body {
          .tab-body {
            padding: 0;
            width: calc(100% - ($separation-mobile * 2));
            height: calc(100% - ($separation-mobile * 2));

            .info-container {
              font-size: 14px;
            }

            &.active {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }


      }

      .events {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }
  }
}
