@import "../../../assets/styles/types.scss";
@import "../../../assets/styles/loaders.scss";

#about-me {
  // min-height: calc(
  //   100vh - ($bar-height + $section-pg-top + $section-pg-bottom)
  // );
  justify-content: center;
  height: 100%;
  font-family: "Onest", sans-serif;

  .simultated-content {
    width: 100%;
    height: 100%;

    .tabs {
      width: 100%;
      height: 600px;
      background: rgba($bg-color, 0.3);
      padding: 30px 0 30px 30px;
      overflow: hidden;
      border-radius: 10px;
      // box-shadow: 0 0 5px #ccc;
      gap: 30px;

      .tabs-buttons {
        min-width: 220px;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;

        .tab-button {
          width: 100%;
          text-align: start;
          color: $txt-white-color;
          font-weight: 500;
          cursor: pointer;
          font-size: 14px;
          outline: none;
          border-radius: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 20px 0;
          position: relative;

          .icon {
            width: 20px;
            height: auto;
          }

          .border {
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: $quinary-color;
            opacity: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }

          i {
            margin: 0 5px 0 10px;
          }

          &:hover {
            color: $quinary-color;
            // padding-left: 4px;
            transition: color 500ms ease-in-out;
          }

          &.active {
            color: $quinary-color;
            padding-left: 4px;
            background: rgba($tertiary-color, 0.07);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: all 500ms ease-in-out;

            .border {
              opacity: 1;
              transition: opacity 500ms ease-in-out;
            }
          }
        }
      }

      .separator {
        width: 2px;
        height: 100%;
        background: rgba($quinary-color, 0.25);
      }

      .tabs-body {
        height: 100%;
        width: 100%;
        position: relative;

        .tab-body {
          width: calc(100% - 30px);
          height: 100%;
          position: absolute;
          left: -200%;
          opacity: 0;
          transition: opacity 1000ms ease-in-out;
          padding-right: 30px;
          overflow-y: auto;

          &.active {
            left: 0;
            opacity: 1;
            transition: opacity 1000ms ease-in-out;
          }

          &::-webkit-scrollbar-button {
            display: none;
          }

          h2 {
            text-align: center;
            color: $quinary-color;
            margin-bottom: 32px;
          }

          .info-container {
            width: 100%;
          }
        }
      }
    }

    .events {
      min-width: 300px;
      justify-content: flex-start;
      gap: 10px;

      .event {

        // Cambia dependiendo del estilo
        max-width: 350px;
        min-width: calc(100% - (20px + 2px)); // 20px = padding-lr, 2px = border-lr

        border: 1px solid rgba($quinary-color, .75);
        border-radius: 5px;
        padding: 10px;

        p {
          margin: 0;
        }

        .repo {
          margin-bottom: 16px;
        }

        .link {
          list-style: none;
          text-decoration: none;

          &.one {
            color: rgb(107, 255, 152);
          }

          &.two {
            color: rgb(107, 255, 248);
          }
        }

        .about-img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user {
          margin: 0;
        }

        &.error {
          .user {
            text-align: center;
          }
        }

        .error {
          color: #ff9797;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #about-me {
    .simultated-content {
      .tabs {
        padding: 10px;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-start;
        height: 900px;

        .tabs-buttons {
          width: 100%;
          height: auto;

          .tab-button {
            padding: 20px 0 20px 0;
            font-size: 13px;

            &.active {
              border-radius: 0;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              transition: all 500ms ease-in-out;
            }

            .border {
              width: 100%;
              height: 3px;
              border: 0;
              top: auto;
              bottom: 0;
            }
          }
        }

        .separator {
          display: block;
          width: 100%;
          height: 1px;
          background: rgba($quinary-color, 0.25);
        }

        .tabs-body {
          .tab-body {
            width: 100%;
            padding: 0;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }

      // .events {
      //   .event {
      //     max-width: 100%;
      //   }
      // }
    }
  }
}
