@import "../../../assets/styles/types.scss";
@import "../../../assets/styles/loaders.scss";

#technologies {
  .simultated-content {
    .technologies-dev, .technologies-data {
      width: -webkit-fill-available !important;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 15px;
    }

    .section__content {
      h3 {
        color: #bfbfbf;
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (max-width: $mobile-md) {
  #technologies {
    .simultated-content {
      .section__content {
        width: -webkit-fill-available;
      }
    }
  }
}
