<section id="technologies" class="kw-section flex">
  <div class="simultated-content flex col">
    <h2 class="section__title">Tecnologías</h2>
    <div class="section__content">
      <h3>Tecnologías de desarrollo</h3>
      <div class="technologies-dev flex start">
        @for(technologyDev of technologiesDev; track technologyDev) {
          <app-skill [skill]="technologyDev"></app-skill>
        }
      </div>
      <br>
      <h3>Tecnologías de análisis de datos</h3>
      <div class="technologies-data flex start">
        @for(technologyData of technologiesData; track technologyData) {
          <app-skill [skill]="technologyData"></app-skill>
        }
      </div>
    </div>
  </div>
</section>
