// Backgrounds
$bg-color: rgb(10, 30, 47);
$bg-gradient: linear-gradient(45deg, rgba(10, 30, 47, 1) 0%, rgba(17, 46, 73, 1) 33%, rgba(12, 37, 61, 1) 73%, rgba(10, 34, 54, 1) 100%);

$primary-color: $bg-gradient;
$secondary-color: #202c46;
$semi-secondary-color: #192338;
$tertiary-color: #334670;
$quaternary-color: #0387eb;

$txt-white-color: #ffffff;
$txt-primary-color: #c6d3e2;
$txt-secondary-color: #919ba7;
$txt-tertiary-color: #7A89A1;
$txt-quaternary-color: #626e83;
