// Window sizes for media queries
$mobile-sm: 420px;
$mobile-md: 768px;
$tablet: 920px;
$desktop: 1320px;
$widescreen: 1440px;

// Navbar sizes
$bar-height: 80px;
$bar-height-mobile: 70px;

// Section
$section-mg-lr: 12%;
$section-pg-lr: 32px;
$section-pg-top: 64px;
$section-pg-bottom: 64px;
