<div class="my-container flex">
  <nav class="my-content flex">
    <div class="logo flex">
      <img class="logo-img" src="assets/svg/northflank.svg" alt="logo" />
      <h2 class="logo-txt">Brian Uceda</h2>
    </div>
    <ul class="items flex">
      <li class="item"><app-button padding="3px 10px" text="Home" type="transparent"></app-button></li>
      <li class="item"><app-button text="About" type="transparent"></app-button></li>
      <li class="item"><app-button text="Login" type="secondary"></app-button></li>
      <li class="item"><app-button text="Register" type="primary"></app-button></li>
    </ul>
  </nav>
</div>
