@import "../../../assets/style/_types.scss";
@import "../../../assets/style/_variables.scss";
@import "../../../assets/style/_colors.scss";

.my-container {
  background-color: transparent;
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 14px;
  color: $txt-white-color;
  z-index: 100;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  transition-property: background-color, box-shadow;

  &.no-expanded.bg-scrolled {
    background: $bg-gradient;
    box-shadow: 0 0 10px 10px rgba($bg-color, 0.5);
  }

  .navbar {
    height: $bar-height;
    width: 100%;
    margin: 0 15%;
    padding: 0 32px;
    justify-content: space-between;

    .nav-base {
      .close {
        display: none;
        cursor: pointer;
      }
    }

    .nav-content {
      .items {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .my-container .navbar {
    margin: 0 12%;
    padding: 0 32px;
  }
}

@media screen and (max-width: $tablet) {
  .my-container {
    .navbar {
      height: $bar-height-mobile;
      margin: 0;
      padding: 0;
      flex-direction: column;

      .nav-base {
        width: 100%;
        height: $bar-height-mobile;
        padding: 0 20px;
        justify-content: space-between;

        .close {
          display: block;

          .fa {
            font-size: 22px;
          }
        }

        .logo {
          .logo-img {
            width: 36px;
            height: 36px;
          }

          .logo-txt {
            display: none;
          }
        }
      }

      .nav-content {
        // Animation
        position: absolute;
        top: $bar-height-mobile;
        background-color: #0b2338;
        // Content
        width: 100%;
        height: calc(100vh - $bar-height-mobile);
        padding-bottom: $bar-height-mobile;
        flex-direction: column;
        justify-content: center;

        .items {
          display: flex;
          width: 100%;
          height: 100%;
          padding: 0 12%;
          flex-direction: column;
          gap: 30px;

          .item {
            display: block;
            width: 100%;
          }
        }
      }
    }

    &.no-expanded {
      .nav-base {
        background-color: transparent;
      }

      .nav-content {
        transform: translateX(-100%);
        transition: transform 0.5s ease;
      }
    }

    &.expanded {
      .nav-base {
        background-color: #0b2338;
      }

      .nav-content {
        transform: translateX(0);
        transition: transform 0.5s ease;
      }
    }
  }
}
