@import "../../../assets/styles/types.scss";
@import "../../../assets/styles/loaders.scss";

#home {
  min-height: calc(
    100vh - ($bar-height + $section-pg-top + $section-pg-bottom)
  );
  justify-content: center;
  height: 100%;
  font-family: "Onest", sans-serif;

  .simultated-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;

    .borders {
      display: none;
    }

    .title {
      text-align: center;
      font-family: "Onest", sans-serif;
      font-weight: 700;
      font-size: clamp(32px, 2vw, 42px);
      margin: 0;
      padding: 0;

      .title-name {
        display: inline;
      }
    }

    .tags {
      text-wrap: balance;
      margin-top: 25px;
      margin-bottom: 30px;
      gap: 15px;
    }

    .data {
      text-align: center;
      font-size: clamp(14px, 1.5vw, 18px);
      margin-bottom: 30px;
    }

    .img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 40px;
      box-shadow: 0 0 50px 0px $quaternary-color;
    }

    .buttons {
      gap: 15px;

      .button {
        min-width: 100px;
        width: auto;
        height: 40px;
      }

      .button:nth-child(1) {
        height: 38px;
      }
    }
  }
}

@media screen and (max-width: $mobile-md) {
  #home {
    .simultated-content {
      padding-top: 25px;
      padding-bottom: 25px;

      .borders {
        display: inline-block;

        .border {
          position: absolute;
          border: 1px solid #ffffff44;
          z-index: 1;
          width: 50px;
          height: 150px;
        }

        .border:nth-child(1) {
          top: 0;
          left: 0;
          border-top-left-radius: 15px;
          border-bottom: none;
          border-right: none;
        }

        .border:nth-child(2) {
          top: 0;
          right: 0;
          border-top-right-radius: 15px;
          border-bottom: none;
          border-left: none;
        }

        // .border:nth-child(3) {
        //   bottom: 0;
        //   left: 0;
        //   border-bottom-left-radius: 15px;
        //   border-top: none;
        //   border-right: none;
        // }

        // .border:nth-child(4) {
        //   bottom: 0;
        //   right: 0;
        //   border-bottom-right-radius: 15px;
        //   border-top: none;
        //   border-left: none;
        // }
      }

      .title {
        text-align: center;

        .title-name {
          margin-top: 10px;
          display: block;
        }
      }

      .tag {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
      }

      .buttons {
        flex-wrap: wrap;
        width: 100%;

        .button:nth-child(1), .button:nth-child(2) {
          order: 1;
        }

        .button:nth-child(3) {
          width: calc(2 * 130px + 15px);
          order: 2;
        }
      }
    }
  }
}
