@import "../../../../assets/styles/types.scss";
@import "../../../../assets/styles/variables.scss";

* {
  font-size: 14px;
  color: $txt-white-color;
  position: relative;
}

.loading {
  display: block;
  width: 100%;
  text-align: center;
}

.kw-container {
  z-index: 90;
  position: relative;
  top: -$bar-height;
  background: $bg-gradient;
  height: calc(100% - $bar-height);

  .kw-section {
    height: 100%;
    margin: 0 $section-mg-lr;
    padding: 0 $section-pg-lr;
    padding-top: calc($section-pg-top * 2);
    flex-direction: column;
    justify-content: flex-start;

    .simultated-content {
      border-radius: 5px;
    }

    &.last-section {
      padding-bottom: $section-pg-bottom;
    }

    &#home {
      height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #6461b160;
      }
    }

    &#about {
      // height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #304366;
      }
    }

    &#skills {
      // height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #3d6196;
      }
    }

    &#technologies {
      // height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #454591;
      }
    }

    &#projects {
      // height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #39399b;
      }
    }

    &#contact {
      // height: calc(100vh - $bar-height);

      .simultated-content {
        width: 100%;
        height: 100%;
        background: #6969a3;
      }
    }

    &#footer {
      margin: 0;
      height: 100%;
      width: -webkit-fill-available;
      padding: 0 $section-mg-lr;
      padding-top: $section-pg-top;
      padding-bottom: $section-pg-bottom;
      background: #192338;
      position: absolute;
      height: auto;
    }
  }
}

@media screen and (max-width: $tablet) {
  .kw-container {
    .kw-section {
      margin-left: calc($section-mg-lr / 2);
      margin-right: calc($section-mg-lr / 2);

      &#footer {
        padding-top: calc($section-pg-top / 2);
        padding-bottom: calc($section-pg-bottom / 2);
      }
    }
  }
}


@media screen and (max-width: $mobile-sm) {
  .kw-container {
    top: -$bar-height-mobile;

    .kw-section {
      margin: 0;
    }
  }
}
