@defer(on viewport) {
  <div class="kw-container">

    <app-navbar></app-navbar>

    <section id="home" class="kw-section flex">
      <div class="simultated-content flex">
        <span>home works!</span>
      </div>
    </section>

    <section id="about" class="kw-section flex">
      <div class="simultated-content flex">
        <span>about works!</span>
      </div>
    </section>

    <section id="projects" class="kw-section flex">
      <div class="simultated-content flex">
        <span>projects works!</span>
      </div>
    </section>

    <section id="skills" class="kw-section flex">
      <div class="simultated-content flex">
        <span>skills works!</span>
      </div>
    </section>

    <section id="technologies" class="kw-section flex">
      <div class="simultated-content flex">
        <span>technologies works!</span>
      </div>
    </section>

    <section id="contact" class="kw-section flex last-section">
      <div class="simultated-content flex">
        <span>contact works!</span>
      </div>
    </section>

    <app-footer id="footer" class="kw-section flex"></app-footer>

  </div>
} @placeholder {
  <div class="loading flex">
    <div class="loader-3"></div>
  </div>
}
