.main {
  z-index: 90;
  width: 100%;
  height: 100%;
  // background: rgb(10, 30, 47);
  // background: linear-gradient(45deg, rgba(10, 30, 47, 1) 0%, rgba(17, 51, 82, 1) 33%, rgba(18, 52, 83, 1) 73%, rgba(10, 30, 47, 1) 100%);

  background: rgb(10, 30, 47);
    background: linear-gradient(45deg, rgba(10, 30, 47, 1) 0%, rgba(17, 46, 73, 1) 33%, rgba(12, 37, 61, 1) 73%, rgba(10, 34, 54, 1) 100%);
}
