// file: app.component.scss
@import "../assets/styles/types.scss";
@import "../assets/styles/variables.scss";

.main {
  z-index: 90;
  width: 100%;
  height: auto;
  position: relative;
  // color:deepskyblue
}
