@import "../../../assets/style/_variables.scss";

.btn {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
  width: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, sans-serif;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .icon-left {
    margin-right: 10px;
    font-size: 14px;
  }

  .icon-right {
    margin-left: 10px;
    font-size: 9px;
  }
}

@media screen and (max-width: $tablet) {
  .btn {
    font-size: 16px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
