<div class="content">
  <!-- Button -->
  <button
    [ngClass]="['btn', type]"
    [ngStyle]="{
      'background-color': backgroundColor,
      color: color,
      border: hasBorder ? '1px solid ' + borderColor : 'none',
      padding: padding,
      cursor: uri === '' ? 'default' : 'pointer'
    }"
    [disabled]="disabled"
    (mouseenter)="haveSubmenus ? showSubmenus() : ''"
    (mouseleave)="havePreviewImg ? hideSubmenus() : ''"
    (click)="navigate(uri)"
    (click)="toggleSubmenus()"
  >
  <!-- toggleSubmenus() solo funciona en celular -->
    @if (icon) {
      <i class="icon-left" [class]="icon"></i>
    }
    <span>{{ text }}</span>
    @if (haveSubmenus && !havePreviewImg) {
      <i
        class="icon-right fa-solid fa-chevron-down"
        [class]="isButtonActive() ? 'icon-rotate-up' : 'icon-rotate-down'">
      </i>
    }
  </button>

  <!-- Submenu -->
  <!-- @if(haveSubmenus) {} -->
  @defer (on viewport) {
    @if(haveSubmenus && (!havePreviewImg || havePreviewImg && isDesktop())) {
      <div
        class="submenu-container"
        [ngClass]="[
          isDesktop() ? animationClass : '',
          isButtonActive() ? 'show' : ''
        ]"
        [class.is-preview-img]="isButtonActive() && havePreviewImg"
        (mouseleave)="hideSubmenus()"
        (click)="toggleSubmenus()"
      >
        <div class="arrow-up"></div>
        <div class="submenu"
          (mouseenter)="havePreviewImg ? hideSubmenus() : ''"
        >
          <ul class="submenu-list flex">
            @for (submenu of submenus; track submenu.text) {
              <li class="submenu-item flex">
                <a
                  class="item flex"
                  [ngClass]="{'is-preview-img' : havePreviewImg}"
                  (click)="navigate(submenu.uri!)"
                  target="{{ submenu.blank ? '_blank' : '_self' }}"
                >
                  @if (!havePreviewImg) {
                    <i class="icon icon-left" [class]="submenu.icon"></i>
                    <span>{{ submenu.text }}</span>
                  } @else if (isDesktop()) {
                    <div class="preview-img flex">
                      <img src="{{ submenu.previewImg }}" alt="{{ submenu.text }} preview-img" />
                    </div>
                  }
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  } @placeholder {
    <span>Cargando...</span>
  }
</div>
