<!-- file: button.component.html -->
<div class="content"
  [ngClass]="[
    isButtonActive() ? 'show' : '',
    isDesktop() ? animationClass : ''
  ]"
  [ngStyle]="{
    cursor: (pointer) ? 'pointer' : 'default',
    height: isButtonActive() ? 'auto' : '100%'
  }"
  (mouseenter)="haveSubmenus ? showSubmenus('btn-mouseover') : ''"
  (mouseleave)="hideSubmenus('btn-mouseleave')"
  (click)="isDesktop() ? toggleSubmenus() : ''"
>
  <!-- Button -->
  <button
    [ngClass]="['btn', type]"
    [class.demo-dialog]="isDialogButton"
    [ngStyle]="{
      cursor: (pointer) ? 'pointer' : 'default',
      'background-color': backgroundColor,
      color: color,
      'font-size': calculateFontSize(false),
      'font-weight': fontWeight,
      border: (hasBorder) ? '1px solid ' + borderColor : 'none',
      'border-radius': borderRadius,
      padding: padding,
    }"
    [disabled]="disabled"
    (click)="!isDialogButton ? navigate(uri) : openDialog(dialog, dialogConfig!)"
    (click)="!isDesktop() ? toggleSubmenus() : ''"
  >
  <!-- toggleSubmenus() solo funciona en celular -->
    @if (icon) {
      <i class="icon" [class]="icon"
      [ngStyle]="{ 'margin-right': marginRightIcon, 'font-size': calculateFontSize(false) }"></i>
    }
    @if (text) {
      <span>{{ text }}</span>
    }
    @if (haveSubmenus && !havePreviewImg) {
      <i
        class="icon icon-right fa-solid fa-chevron-down"
        [class]="isButtonActive() ? 'icon-rotate-up' : 'icon-rotate-down'">
      </i>
    }
  </button>

  <!-- Submenu -->
  @if(haveSubmenus) {
    @if(!havePreviewImg || havePreviewImg && isDesktop()) {
      <div
        class="submenu-container"
        [class.is-preview-img]="isButtonActive() && havePreviewImg"
        [style.padding-top]="havePreviewImg ? '10px' : ''"
        [style.top]="havePreviewImg ? '25px' : ''"
      >
        <div class="arrow-up"></div>
        <div class="submenu" (mouseover)="havePreviewImg ? hideSubmenus('submenu-mouseover') : ''">
          <ul class="submenu-list flex">
            @for (submenu of submenus; track submenu.text) {
              <li class="submenu-item flex">
                <a
                  class="item flex"
                  [ngClass]="{'is-preview-img' : havePreviewImg}"
                  (click)="navigate(submenu.uri!)"
                  (click)="toggleSubmenus()"
                  (click)="!isDesktop() ? changeNavbarState(false) : ''"
                  target="{{ submenu.blank ? '_blank' : '_self' }}"
                >
                  @if (!havePreviewImg) {
                    @if (submenu.icon) {
                      <i class="icon icon-left" [class]="submenu.icon"
                        [ngStyle]="{'font-size': calculateFontSize(true)}">
                      </i>
                    }
                    <span
                      [ngStyle]="{
                        'font-size': calculateFontSize(true),
                        'font-weight': fontWeight
                      }">
                      {{ submenu.text }}
                    </span>
                  } @else if (isDesktop()) {
                    <div class="preview-img flex">
                      <img src="{{ submenu.previewImg }}" alt="{{ submenu.text }} preview-img" />
                    </div>
                  }
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  }
</div>
