@import "../../../assets/style/_types.scss";
@import "../../../assets/style/_colors.scss";
@import "../../../assets/style/_variables.scss";

* {
  font-size: 14px;
  color: $txt-white-color;
}

.kw-container {
  z-index: 100;
  // background: #534d4d;

  .kw-section {
    width: 100%;
    height: calc(100vh - $bar-height);
    margin: 0 10% 5%;
    padding: calc($bar-height * .75) 32px 32px 32px;
    flex-direction: column;
    justify-content: flex-start;
    // background: #fff;

    span {
      width: 100%;
      text-align: center;
      // background: #854646;
    }
  }
}

@media screen and (max-width: $desktop) {
  .kw-container {
    .kw-section {
      height: calc(100vh - $bar-height-mobile);
      margin: 0 10% 8%;
      padding: calc($bar-height-mobile * .75) 32px 32px 32px;
    }
  }
}
