<div class="kw-container">

  @defer (on viewport) {
    <section id="home" class="kw-section flex">
      <span>home works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="about" class="kw-section flex">
      <span>about works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="skills" class="kw-section flex">
      <span>skills works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="technologies" class="kw-section flex">
      <span>technologies works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="projects" class="kw-section flex">
      <span>projects works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="contact" class="kw-section flex">
      <span>contact works!</span>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <app-footer id="footer" class="kw-section flex"></app-footer>
  } @placeholder {
    <span>Cargando...</span>
  }

</div>
