@import "../../../assets/style/_types.scss";
@import "../../../assets/style/_variables.scss";
@import "../../../assets/style/_colors.scss";

* {
  font-size: 14px;
  color: $txt-color;
}

.my-container {

  .my-content {
    z-index: 100;
    opacity: 1;
    height: $bar-height;
    width: 100%;
    margin: 0 17.5%;
    padding: 0 32px;
    justify-content: center;
  }
}
