<div class="kw-container">

  @defer (on viewport) {
    <section id="home" class="kw-section flex">
      <div class="simultated-content">
        <span>home works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="about" class="kw-section flex">
      <div class="simultated-content">
        <span>about works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="projects" class="kw-section flex">
      <div class="simultated-content">
        <span>projects works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="skills" class="kw-section flex">
      <div class="simultated-content">
        <span>skills works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="technologies" class="kw-section flex">
      <div class="simultated-content">
        <span>technologies works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <section id="contact" class="kw-section flex last-section">
      <div class="simultated-content">
        <span>contact works!</span>
      </div>
    </section>
  } @placeholder {
    <span>Cargando...</span>
  }

  @defer (on viewport) {
    <app-footer id="footer" class="kw-section flex"></app-footer>
  } @placeholder {
    <span>Cargando...</span>
  }

</div>
