@import "./assets/styles/variables.scss";
@import "./assets/styles/colors.scss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $bg-gradient;
}

// * Dialog
.cdk-global-overlay-wrapper {
  backdrop-filter: blur(5px) !important;
  --webkit-backdrop-filter: blur(5px) !important;
  // grayscale(0.8)
}

.mdc-dialog__surface {
  background: $bg-gradient !important;
  border-radius: $dialog-border-radius !important;
  cursor: default; // Dentro del dialogo
}

.cdk-overlay-backdrop {
  cursor: default; // Fuera del dialogo
}

// * Scroll
::-webkit-scrollbar {
  width: 10px; /* Ancho */
}

::-webkit-scrollbar-track {
  background: $semi-secondary-color; /* Color de fondo  */
}

::-webkit-scrollbar-thumb {
  background: $tertiary-color; /* Color principal */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $quaternary-color; /* Color de la barra al hacer hover */
}

::-webkit-scrollbar-button {
  background: $semi-secondary-color; /* Color de los botones de la barra */
}

::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-button:active {
  background: $quaternary-color; /* Color de los botones al hacer hover y al hacer click */
}

// animation on scroll disabled
// @media (prefers-reduced-motion: reduce) {
//   html {
//     scroll-behavior: auto;
//   }
// }
