@import "./variables.scss";
@import "./colors.scss";

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.logo {
  gap: 12px;
  cursor: pointer;

  .logo-img {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
  }

  .logo-txt {
    margin: 0;
    padding: 0;
    color: $txt-white-color;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: Inter, system-ui, sans-serif;
  }
}

.kw-section {
  height: 100%;
  margin: 0 $section-mg-lr;
  padding: calc($section-pg-top * 2) $section-pg-lr 0 $section-pg-lr;
  flex-direction: column;
  justify-content: flex-start;

  .simultated-content {
    border-radius: 5px;
  }

  &.last-section {
    padding-bottom: $section-pg-bottom;
  }
}

#footer {
  margin: 0;
  height: 100%;
  width: -webkit-fill-available;
  padding: 0 $section-mg-lr;
  padding-top: $section-pg-top;
  padding-bottom: $section-pg-bottom;
  background: $semi-secondary-color;
  position: absolute;
  height: auto;
}

@media screen and (max-width: $tablet) {
  .kw-section {
    margin-left: calc($section-mg-lr / 2);
    margin-right: calc($section-mg-lr / 2);
  }

  #footer {
    padding-top: calc($section-pg-top / 2);
    padding-bottom: calc($section-pg-bottom / 2);
  }
}

@media screen and (max-width: $mobile-sm) {
  .kw-container {
    top: -$bar-height-mobile;
  }

  .kw-section {
    margin: 0;
  }
}
