// ? Media queries
$normal-mobile: 400px;
$mobile-sm: 500px;
$mobile-md: 768px;
$tablet: 1100px;
$desktop: 1320px;
$widescreen: 1500px;

// ? Navbar
$bar-height: 80px;
$bar-height-mobile: 70px;

// ? Sections
$section-mg-lr: 12%;
$section-pg-lr: 224px;
$section-pg-top: 64px;
$section-pg-bottom: 64px; // Aplicated on last-section and footer

// ? Dialog
$dialog-border-radius: 15px;
