<section id="about-me" class="kw-section flex">
  <div class="simultated-content flex col">
    <h2 class="section__title">Información sobre mí</h2>
    <div class="tabs flex">
      <div class="tabs-buttons flex col">
        <div class="tab-button active" (click)="changeTab(0)">
          <span class="border"></span>
          <i class="fas fa-info-circle"></i> Información general
          <span class="border"></span>
        </div>
        <div class="tab-button" (click)="changeTab(1)">
          <span class="border"></span>
          <i class="icon fa-brands fa-github-alt"></i> Actividad en GitHub
          <span class="border"></span>
        </div>
      </div>
      <div class="tabs-body">
        <article class="tab-body flex col start active">

          <div class="info-container flex col items-start">
            <p>Mi nombre es Brian Uceda Hirata, tengo 19 años y soy estudiante universitario de la carrera de Ingeniería de Sistemas de Información en la UPC Perú.</p>
            <br>
            <p>Tengo gran interés en la automatización de procesos, programación dinámica, desarrollo de servicio y microservicios, bases de datos, entre otros temas relacionados al desarrollo Backend y algoritmos.</p>
            <p>Mi meta profesional es formar parte de un equipo de trabajo en el que me sienta cómodo y pueda crecer profesionalmente mientras genero un impacto positivo en mis compañeros. Busco hacer experiencias que pueda recordar con una sonrisa en el futuro.</p>
            <br>
            <p>Soy consciente de que no soy perfecto, pero siempre busco aprender y mejorar a partir de mis experiencias vividas.</p>
          </div>
        </article>

        <article class="tab-body flex col start">
          @if (getLength > 0) {
            <div class="events flex">
              @for(event of commitsData; track event.id) {
                <app-git-event [event]="event" gitUser="{{ getGitUser }}"></app-git-event>
              }
            </div>
          } @else if (getLength == -2) {
            <div class="events flex col">
              <div class="event">
                <p class="error">Has excedido el número de solicitudes, por favor espera unos minutos...</p>
              </div>
            </div>
          } @else if (getLength == -1) {
          <div class="events flex col">
            <div class="event">
              <p class="error">Este usuario no existe</p>
            </div>
          </div>
          } @else if (getLength == 0) {
            <div class="events flex col">
              <div class="event error flex col">
                <img class="about-img" [src]="getUser?.avatar_url" alt="">
                <p class="user">{{ getUser?.login }}</p>
                <p class="error">Este usuario no ha realizado commits públicos en los últimos 2 años</p>
              </div>
            </div>
          }
        </article>
      </div>
    </div>
  </div>
</section>
